.portfolio__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.project__content {
    background-color: rgb(28,28,28);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
}

.project__title {
    color: rgb(210,63,93);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
}

.project__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.project__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.project__data {
    display: flex;
    gap: 0.5rem;
}

.project__name {
    color: white;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    text-align: center;
}

.project__description {
    color: white;
    font-size: var(--tiny-font-size);
    font-weight: var(--font-medium);
    display: flex;
    text-align: center;
}

.project__img {
    border-radius: 0.5rem;
    justify-self: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.project__img-data {
    border-radius: 0.5rem;
    justify-self: center;
    filter: brightness(250%);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

/* ===================== BREAKPOINTS ===================== */

/*      Tablet Devices      */
@media screen and (min-width: 476px) and (max-width:999px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 350px);
        column-gap: 3rem;
        justify-content: center;
        margin-right: -9.5rem;
        margin-left: 9.5rem;
        margin-bottom: -1rem;
    }
}

/*        Mobile Devices      */
@media screen and (max-width: 475px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 350px);
        column-gap: 3rem;
        justify-content: center;
        margin-bottom: -1rem;
    }
}